.overlay {
  position: fixed; /* Закріплення вікна на екрані */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Колір тла з прозорістю */
  z-index: 999; /* Задній фон з високим значенням z-index для накладання на інші елементи */
  display: flex; /* Відображення контейнера як flex-контейнера */
  justify-content: center; /* Вирівнювання контенту горизонтально по центру */
  align-items: center; /* Вирівнювання контенту вертикально по центру */
}

.modal {
  background-color: #fff; /* Колір фону модального вікна */
  padding: 20px; /* Відступи всередині модального вікна */
  border-radius: 5px; /* Закруглені кути модального вікна */
  max-width: 600px; /* Максимальна ширина модального вікна */
  width: 100%; /* Ширина модального вікна на всю ширину контейнера */
}

.modal img {
  max-width: 100%; /* Максимальна ширина зображення в межах модального вікна */
  height: auto; /* Автоматична висота зображення для збереження співвідношення сторін */
}
